
<!DOCTYPE HTML>
<html>
	<head>
		<title>400 Example</title>
		<meta name="keywords" content="404" />
		<link href="{{ url_for('static', filename='style_error.css') }}" rel="stylesheet" type="text/css"  media="all" />
	</head>
	<body>

				<div class="header">
					<div class="logo">
						<h1><a href="#">SERVICE UNAVAILABLE</a></h1>
					</div>
				</div>

			<div class="content">
				<img src="{{ url_for('static', filename='error-img.png') }}" title="error" />
				<p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
				<a href="{{url_for('form')}}">Back To Home</a>
				<div class="copy-right">
				</div>
   			</div>

		</div>
	</body>
</html>

